*,
*::before{margin: 0; padding: 0;}
*::after{margin: 0; padding: 0;}
:root{--accent-color: #2196F3;}

.company-logo{text-decoration: none;}
.nav-list-link-p{text-decoration: none;}
.nav-list-link-k{text-decoration: none;}
.nav-list-link-color{text-decoration: none;}
.adress-email-color{text-decoration: none;}
.adress-phone{text-decoration: none;}
.footer-company-logo{text-decoration: none;}
.footer-nav-item-maps{text-decoration: none;}
.footer-nav-item-email{text-decoration: none;}
.footer-nav-item-phone-number{text-decoration: none;}
.nav-list-link-color:focus,
.nav-list-link-color:hover{color:#2196F3;}
.adress-email-color:focus,
.adress-email-color:hover{color:#2196F3;}
.ul,li
{list-style: none;}
.container{
width: 600px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.heder-container{
    display: flex; 
    align-items: center;
    justify-content: space-between;  
}
.navigation, .address, .nav-list{
    display: flex; 
    align-items: center;
    margin-right: 387px;
    margin-left: auto;
}
.company-logo{
    margin-right: 1240px;
    margin-left: 215px;
    margin-top: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}
.nav-list-link-color{
    margin-right: 1098px;
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.nav-list-link-p{
    margin-left: 552px;
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-list-link-k{
    margin-left: 679px;
    margin-top: 32px;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.adress-email-color{
    margin-left: 1078px;
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.adress-phone{
    margin-right: 215px;
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.hero-bar{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 1600px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    background-color: #2F303A;

} 
.h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-title{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: non;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}    
.modal-button-c{
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;background-color:#2196F3;
}
.section-diskripnion{
    display: flex; 
    align-items: center;
    margin-left: 500px; 
}
.section-pises{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    min-width: 160px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.section-pises-diskripnion{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}
.about{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: non;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.owners{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: non;
    letter-spacing: 0.03em;
    color: #212121;
}
.pipl{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: non;
    letter-spacing: 0.03em;
    color: #212121;
}
.profession{
    display: flex; 
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: non;
    letter-spacing: 0.03em;
    color: #757575;
} 
.footer-company-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
} 
.footer-nav-item-maps{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}
.footer-nav-item-email{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}
.footer-nav-item-phone-number{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
}
.category{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: #757575;
} 

                                          