*,
*::before {
  margin: 0;
  padding: 0;
}
*::after {
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #2196f3;
}

a {
  text-decoration: none;
}

.nav-list-link-color:focus,
.nav-list-link-color:hover {
  color: #2196f3;
}
.adress-email-color:focus,
.adress-email-color:hover {
  color: #2196f3;
}
.ul,
li {
  list-style: none;
}
.body {
  width: 1600px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 1600px;
  height: 80px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation,
.address,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 93px;
}
.company-logo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  margin-top: 24px;
  margin-left: 215px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-list-link-color {
  display: flex;
  margin-left: 0 auto;
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.nav-list-link-p {
  display: flex;
  margin-top: 32px;
  margin-right: 50 px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-list-link-k {
  display: flex;
  margin-top: 32px;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.adress-email-color {
  display: flex;
  margin-top: 32px;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.adress-phone {
  display: flex;
  margin-top: 32px;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.hero-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
  background-color: #2f303a;
}
.h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-title {
  display: flex;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: non;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.diskription {
  display: flex;
  margin: 0 auto;
}
.modal-button-c {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.section-diskripnion {
  display: flex;
  margin: 0 auto;
  /*justify-content: space-around*/
  align-items: stretch;
  /* margin-left: 500px; */
}
.section-pises {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  min-width: 160px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.section-pises-diskripnion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: non;
  letter-spacing: 0.03em;

  color: #212121;
}
.owners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: non;
  letter-spacing: 0.03em;
  color: #212121;
}
.pipl {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: non;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: non;
  letter-spacing: 0.03em;
  color: #757575;
}
/*----------------------FOOTER----------------*/
.footer-company-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-nav-item-maps {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-nav-item-email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.footer-nav-item-phone-number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.category {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}
